<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<ros2_control name="GazeboSystem" type="system">

 <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>gazebo_ros2_control/GazeboSystem</plugin>
            </hardware>
            <joint name="arm_shoulder_pan_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm_shoulder_lift_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm_elbow_flex_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">1</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="arm_wrist_flex_joint">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">0</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>


        <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
        <parameters>$(find turtlebot)/decription/turtlebot/urdf/turtlebot_arm_control.yaml</parameters>
        </plugin>
        </gazebo>
</robot>
